*egg-info*
data/*
*pyc
.DS_Store

AFL/double_agent/_version.py
dev/

venv/
.venv/

# Sphinx documentation
docs/build/
docs/source/reference/_autosummary/
*.doctree
*.pickle
.buildinfo
objects.inv
_build/
.doctrees/
*.mo