<div class="ntd2dwrapper">
  <ul>
    <li class="ntd2d_latest"><a href="/AFL-agent/en/latest/index.html">latest</a></li>

    <li class="ntd2d_stable"><a href="/AFL-agent/en/stable/index.html">stable</a></li>

    <li class="ntd2d_v1.5.0"><a href="/AFL-agent/en/v1.5.0/index.html">v1.5.0</a></li>

    <li class="ntd2d_v1.3.1"><a href="/AFL-agent/en/v1.3.1/index.html">v1.3.1</a></li>

    <li class="ntd2d_v1.3.0"><a href="/AFL-agent/en/v1.3.0/index.html">v1.3.0</a></li>

    <li class="ntd2d_v1.2.0"><a href="/AFL-agent/en/v1.2.0/index.html">v1.2.0</a></li>

    <li class="ntd2d_v1.1.0"><a href="/AFL-agent/en/v1.1.0/index.html">v1.1.0</a></li>

    <li class="ntd2d_v1.0.0"><a href="/AFL-agent/en/v1.0.0/index.html">v1.0.0</a></li>

  </ul>
  <ul>
    <li class="ntd2d_custom_model_load"><a href="/AFL-agent/en/custom_model_load/index.html">custom_model_load</a></li>

    <li class="ntd2d_main"><a href="/AFL-agent/en/main/index.html">main</a></li>

    <li class="ntd2d_refactor-pipeline-drawing"><a href="/AFL-agent/en/refactor-pipeline-drawing/index.html">refactor-pipeline-drawing</a></li>

  </ul>
</div>
